/* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}
.main{
    max-width: 1000px;
    margin: 0 auto;
  }

h1 {
    font-size: 24px;
    font-weight: 800;
    text-decoration:rgb(20, 18, 18);
    text-align: right;   
}

img {
  height: 250px;
  max-width: 100%;
  vertical-align: middle;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 1.0rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;  
}


.card_title {
  color: #130d0df8;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
  text-align: center;
}

.card_text {  
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
  padding: 2em;
}

div>b{
    font-weight: 600;    
    color:rgb(216, 43, 43);
}

div>b:hover{
    color:rgba(52, 52, 224, 0.904);
    cursor: pointer;
}
